<%- contentFor('body') %>
<link rel="stylesheet" type="text/css" href="<%=path%>assets/css/<%=dist%>/pages/products.css">
	<div class="jumbotron text-center">
		<h1>Products</h1>
		<div class="row">
			<% if(!data || data.length == 0) { %>
				<h2>Não existem produtos!</h2>
			<% } else {
				for (product of data) { %>
					<div class="col-sm-4">
						<h2>
							<a href="./form/<%= product._id %>">
								<%= product.name %>
							</a>
						</h2>
						<p>
							<%= product.price %>
						</p>
						<a href="./delete/<%= product._id %>" onClick="return confirm('Tem certeza?')">Excluir</a>
					</div>
				<% } %>
			<% } %>
		</div>
	</div>