<%- contentFor('body') %>
<link rel="stylesheet" type="text/css" href="<%=path%>assets/css/<%=dist%>/pages/products.css">
<div class="jumbotron text-center">
    <h1>Formulário de Usuário</h1>
    <div class="row">
		<div class="col-lg-12">
			<form action="/user/save" method="POST">
				<p>
					<label>Nome:
						<input type="text" name="name" value="<%= data.name %>" />
					</label>
				</p>
				<p>
					<label>Login:
						<input type="text" name="login" value="<%= data.login %>" />
					</label>
				</p>
				<p>
					<label>Senha:
						<input type="password" name="password" value="<%= data.password %>" />
					</label>
				</p>
				<p>
					<a href="../../">Cancelar</a> |
					<input type="hidden" name="id" value="<%= data._id %>" />
					<input type="submit" value="Salvar" />
				</p>
			</form>
		</div>
    </div>
</div>